{include file="public/header"}
  <body>
    <div class="x-body">
        <form class="layui-form" method="post" action="{:url('Admin/add')}">
          <div class="layui-form-item" >
              <label for="name" class="layui-form-label">
                  <span class="x-red">*</span>登录名
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="inputName" value="" name="name" required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>将会成为您唯一的登入名
              </div>
          </div>
            <div class="layui-form-item">
              <label for="L_pass" class="layui-form-label">
                  <span class="x-red">*</span>密码
              </label>
              <div class="layui-input-inline">
                  <input type="password" id="L_pass" value="" name="pass" required="" lay-verify="pass"
                  autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  6到16个字符
              </div>
              <div id="showpwd" class="layui-btn layui-btn-sm layui-btn-danger">显示密码</div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
                  <span class="x-red">*</span>确认密码
              </label>
              <div class="layui-input-inline">
                  <input type="password" id="L_repass" name="repass" required="" lay-verify="repass"
                  autocomplete="off" class="layui-input">
              </div>
          </div>

          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  <span class="x-red">*</span>所在部门
              </label>
              <div class="layui-input-inline">
                  <select id="part_admin" name="part_admin" class="valid">
                    <option value="0">选择所在部门</option>
                    {volist name="data" id="vo"}
                    <option value="{$vo.id}">{$vo.level|str_repeat='&nbsp;─│&nbsp;',###}{$vo.name}</option>
                    {/volist}
                  </select>
              </div>
               <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span> 部门必须选择。如果选择部门管理员，则该人员有权管理其本部门（包括所有下属部门）数据
              </div>
          </div>


                <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
                  <span class="x-red">*</span>允许IP地址
              </label>
               <div class="layui-input-block">
                  <textarea id="demo"name="allow_ip" style="display: none;"></textarea>
                </div>
          </div>
          <input type="hidden" name="author" value="{$Think.session.info.name}"> 
          
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button type="submit" class="layui-btn" lay-filter="add" lay-submit="">
                  增加
              </button>
          </div>
      </form>
    </div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;
        

          layui.use('layedit', function(){
            var layedit = layui.layedit;
            layedit.build('demo'); //建立编辑器
          });
          /* ajax 自定义inputName*/
          $('#inputName').blur(function(){
             var val = $('#inputName').val();
             var Url = "{:url('Admin/CheckName')}";
             //layer.alert(val);
             $.post(Url,{val:val},function(data){
              if(data.status ==1){
                layer.alert('用户名可以使用,请继续你的操作');
              }else{
                layer.alert('用户名已经存在');
                 $('.layui-word-aux').html("用户名已经存在");
              }

             },'json')


          });
          //自定义验证规则
          form.verify({
            nikename: function(value){
              if(value.length < 5){
                return '昵称至少得5个字符啊';
              }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
          });

          
        });
    </script>
    <script>
        $('#showpwd').bind('click',function(){
           var pass = $('#L_pass').val();
            if(pass == ''){
                layer.msg('密码不能为空',{icon:6,shift:6},);
                return false;
            }
           layer.msg(pass,{icon:6,shift:6},); 
        })

    </script>
  </body>

</html>